{% extends "base.html" %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
<script>
  document.getElementById("password").addEventListener("input", event => {
    const password = event.target.value;
    const result = zxcvbn(password);

    const strengthText = ["Very Weak", "Weak", "Fair", "Strong", "Very Strong"];
    document.getElementById("strength-meter").textContent = `Strength: ${strengthText[result.score]}`;
  });
</script>

<div>
  <label for="password">Password</label>
  <input type="password" id="password" />
  <p id="strength-meter">Strength: </p>
</div>

{% endblock %}